In [2]:
import pandas as pd

import sqlite3

In [3]:
wikipedia_data = pd.read_excel('final_clean_data.xlsx',  header=0)

In [4]:
wikipedia_data.head()

        date                                               page  visits
0 2016-01-01        .xxx_en.wikipedia.org_all-access_all-agents    7089
1 2016-01-01        .xxx_en.wikipedia.org_mobile-web_all-agents    6182
2 2016-01-01        1._Juli_de.wikipedia.org_desktop_all-agents      20
3 2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_all-acces...    5363
4 2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...    3186

In [5]:
wikipedia_db_conn = sqlite3.connect('wikipedia_data.db')

In [6]:
c = wikipedia_db_conn.cursor()

In [7]:
c.execute("""

    CREATE TABLE page_visits(
        date DATE,
        page TEXT NOT NULL,
        visits INTEGER
    );

""" )

OperationalError: table page_visits already exists

In [ ]:
wikipedia_data.to_sql('page_visits', wikipedia_db_conn, if_exists='append', index=False)

In [ ]:
pd.read_sql("select * from page_visits limit 10", wikipedia_db_conn)

,date,page,visits
0,2016-01-01 00:00:00,.xxx_en.wikipedia.org_all-access_all-agents,7089
1,2016-01-01 00:00:00,.xxx_en.wikipedia.org_mobile-web_all-agents,6182
2,2016-01-01 00:00:00,1._Juli_de.wikipedia.org_desktop_all-agents,20
3,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363
4,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186
5,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...,2136
6,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_all-access...,1160
7,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...,564
8,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...,580
9,2016-01-01 00:00:00,2015_in_film_en.wikipedia.org_all-access_all-a...,54347

question 5 (which day is the most popular) & 6 (which day is the least popular)

In [ ]:
weekdays = pd.read_sql("select date, case cast (strftime('%w', date) as integer) when 0 then 'Sunday' when 1 then 'Monday' when 2 then 'Tuesday' when 3 then 'Wednesday' when 4 then 'Thursday' when 5 then 'Friday' else 'Saturday' end as weekday from page_visits  ",  wikipedia_db_conn)

weekdays

                       date   weekday
0       2016-01-01 00:00:00    Friday
1       2016-01-01 00:00:00    Friday
2       2016-01-01 00:00:00    Friday
3       2016-01-01 00:00:00    Friday
4       2016-01-01 00:00:00    Friday
...                     ...       ...
548908  2016-12-31 00:00:00  Saturday
548909  2016-12-31 00:00:00  Saturday
548910  2016-12-31 00:00:00  Saturday
548911  2016-12-31 00:00:00  Saturday
548912  2016-12-31 00:00:00  Saturday

[548913 rows x 2 columns]

In [ ]:
weekdays.to_excel('tables/weekdays.xlsx')

question 7 below (271 desktop sites were visited) (296 mobile sites were visited)

In [ ]:
#desktop

pd.read_sql("select distinct page, sum(visits) as total_visits from page_visits where page like '%desktop%' group by page", wikipedia_db_conn)

                                                  page  total_visits
0          1._Juli_de.wikipedia.org_desktop_all-agents         39357
1    2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...       1312660
2    2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...        389617
3     2015_in_film_en.wikipedia.org_desktop_all-agents       2052266
4    2015â€“16_UEFA_Champions_League_en.wikipedia.o...       1397286
..                                                 ...           ...
266      èŠ±åƒéª¨_zh.wikipedia.org_desktop_all-agents        590606
267  è…”å®¤ç—‡å€™ç¾¤_zh.wikipedia.org_desktop_all-a...         12366
268   é«˜å³¶ç¤¼å­_ja.wikipedia.org_desktop_all-agents        376333
269   é«˜çŸ¥æ±ç”Ÿ_ja.wikipedia.org_desktop_all-agents        488979
270  éŸ¿ã‘!_ãƒ¦ãƒ¼ãƒ•ã‚©ãƒ‹ã‚¢ãƒ _ja.wikipedia.org...        459095

[271 rows x 2 columns]

In [ ]:
#mobile

pd.read_sql("select distinct page, sum(visits) as total_visits from page_visits where page like '%mobile%' group by page", wikipedia_db_conn)

                                                  page  total_visits
0          .xxx_en.wikipedia.org_mobile-web_all-agents       2390100
1    2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...       1355665
2    2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...        540139
3    2015_in_film_en.wikipedia.org_mobile-web_all-a...       1033992
4    2015å¹´å…«ä»™æ¨‚åœ’æ´¾å°ç²‰å¡µçˆ†ç‚¸äº‹æ•…_zh...         60667
..                                                 ...           ...
291  é«˜çŸ¥æ±ç”Ÿ_ja.wikipedia.org_mobile-web_all-a...       1328196
292  é»’å­ã®ãƒã‚¹ã‚±_ja.wikipedia.org_mobile-web...        893067
293  éŠ€é­‚ã®ç™»å ´äººç‰©ä¸€è¦§_ja.wikipedia.org_m...       1480853
294  éŸ¿ã‘!_ãƒ¦ãƒ¼ãƒ•ã‚©ãƒ‹ã‚¢ãƒ _ja.wikipedia.org...        526332
295  é‡‘ç”°æœ‹å­_ja.wikipedia.org_mobile-web_all-a...        877569

[296 rows x 2 columns]

In [ ]:
mobileVisits = pd.read_sql("select distinct page, sum(visits) as total_visits from page_visits where page like '%mobile%' group by page", wikipedia_db_conn)

mobileVisits.to_excel('mobileVisits.xlsx')

In [ ]:
distinct_pages_pages = pd.read_sql("select distinct page, date, sum(visits) as total_visits from page_visits group by page", wikipedia_db_conn)

In [ ]:
distinct_pages_dates = pd.read_sql("select distinct page, date, sum(visits) as total_visits from page_visits group by date", wikipedia_db_conn)

In [ ]:
pd.read_sql("select distinct page, date, visits from page_visits group by page", wikipedia_db_conn)

,page,date,visits
0,.xxx_en.wikipedia.org_all-access_all-agents,2016-01-01 00:00:00,7089
1,.xxx_en.wikipedia.org_mobile-web_all-agents,2016-01-01 00:00:00,6182
2,1._Juli_de.wikipedia.org_desktop_all-agents,2016-01-01 00:00:00,20
3,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,2016-01-01 00:00:00,5363
4,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,2016-01-01 00:00:00,3186
...,...,...,...
1495,éŸ¿ã‘!_ãƒ¦ãƒ¼ãƒ•ã‚©ãƒ‹ã‚¢ãƒ _ja.wikipedia.org...,2016-01-01 00:00:00,856
1496,éŸ¿ã‘!_ãƒ¦ãƒ¼ãƒ•ã‚©ãƒ‹ã‚¢ãƒ _ja.wikipedia.org...,2016-01-01 00:00:00,955
1497,é‡‘ç”°æœ‹å­_ja.wikipedia.org_all-access_all-a...,2016-01-01 00:00:00,2640
1498,é‡‘ç”°æœ‹å­_ja.wikipedia.org_mobile-web_all-a...,2016-01-01 00:00:00,2071
1499,é€²æ’ƒã®å·¨äºº_ja.wikipedia.org_all-access_al...,2016-01-01 00:00:00,10707

In [ ]:
distinct_pages_pages.to_csv('distinct_pages_pages.csv')
distinct_pages_dates.to_csv('distinct_pages_dates.csv')

In [ ]:
c.execute("""

    CREATE TABLE weekdays(
        date DATE,
        weekday TEXT NOT NULL
    );

""" )

In [8]:
read_weekdays = pd.read_excel('tables/weekdays.xlsx', header=0)

read_weekdays.head()

                  date weekday
0  2016-01-01 00:00:00  Friday
1  2016-01-01 00:00:00  Friday
2  2016-01-01 00:00:00  Friday
3  2016-01-01 00:00:00  Friday
4  2016-01-01 00:00:00  Friday

In [ ]:
read_weekdays.to_sql('weekdays', wikipedia_db_conn, if_exists='append', index=False)

In [ ]:
c.execute("""

    CREATE TABLE Topics(
        date DATE,
        page TEXT ,
        visits INTEGER,
        topics TEXT 
    );

""" )

In [ ]:
topic = pd.read_excel('tables/wikidata.xlsx', sheet_name='topics', header=0)

topic.head()

,date,page,visits,topics
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089,.xxx_en
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,.xxx_en
2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20,1._Juli_de
3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363,2014_FIFA_World_Cup_en
4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186,2014_FIFA_World_Cup_en

In [ ]:
topic.to_sql('Topics', wikipedia_db_conn, if_exists='append', index=False)

In [ ]:
c.execute("""

    CREATE TABLE Languages(
        date DATE,
        page TEXT ,
        visits INTEGER,
        language TEXT 
    );

""" )

In [ ]:
language = pd.read_excel('tables/wikidata.xlsx', sheet_name='language', header=0)

language

,date,page,visits,language
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089,en
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,en
2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20,de
3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363,en
4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186,en
...,...,...,...,...
548908,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146,en
548909,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597,en
548910,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217,en
548911,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650,en
548912,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659,en

In [ ]:
language.to_sql('Languages', wikipedia_db_conn, if_exists='append', index=False)

In [ ]:
c.execute("""

    CREATE TABLE Mobile_devices(
        date DATE,
        page TEXT,
        visits INTEGER,
        device TEXT
    );

""" )

In [ ]:
mobile_devices = pd.read_excel('tables/wikidata.xlsx', sheet_name='mobile', header=0)

mobile_devices.head()

,date,page,visits,device
0,2016-01-01 00:00:00,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,mobile
1,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...,2136,mobile
2,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...,580,mobile
3,2016-01-01 00:00:00,2015_in_film_en.wikipedia.org_mobile-web_all-a...,22168,mobile
4,2016-01-01 00:00:00,2015å¹´å…«ä»™æ¨‚åœ’æ´¾å°ç²‰å¡µçˆ†ç‚¸äº‹æ•…_zh...,247,mobile

In [ ]:
mobile_devices.to_sql('Mobile_devices', wikipedia_db_conn, if_exists='append', index=False)

In [ ]:
c.execute("""

    CREATE TABLE Desktop_devices(
        page TEXT,
        visits INTEGER,
        device TEXT
    );

""" )

In [ ]:
desktop_devices = pd.read_excel('tables/wikidata.xlsx', sheet_name='desktop', header=0)

desktop_devices.head()

                                                page   visits   device
0        1._Juli_de.wikipedia.org_desktop_all-agents   118071  desktop
1  2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...  3937980  desktop
2  2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...  1168851  desktop
3   2015_in_film_en.wikipedia.org_desktop_all-agents  6156798  desktop
4  2015â€“16_UEFA_Champions_League_en.wikipedia.o...  4191858  desktop

In [ ]:
desktop_devices.to_sql('Desktop_devices', wikipedia_db_conn, if_exists='append', index=False)

In [ ]:
join_tables1 = pd.concat([read_weekdays, language, topic, mobile_devices, desktop_devices], axis = 1)

join_tables1

,date,weekday,date,page,visits,language,date,page,visits,topics,date,page,visits,device,page,visits,device
0,2016-01-01 00:00:00,Friday,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,en,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089,.xxx_en,2016-01-01 00:00:00,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,mobile,1._Juli_de.wikipedia.org_desktop_all-agents,118071.0,desktop
1,2016-01-01 00:00:00,Friday,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,en,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,.xxx_en,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...,2136.0,mobile,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3937980.0,desktop
2,2016-01-01 00:00:00,Friday,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0,de,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20,1._Juli_de,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...,580.0,mobile,2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...,1168851.0,desktop
3,2016-01-01 00:00:00,Friday,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0,en,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363,2014_FIFA_World_Cup_en,2016-01-01 00:00:00,2015_in_film_en.wikipedia.org_mobile-web_all-a...,22168.0,mobile,2015_in_film_en.wikipedia.org_desktop_all-agents,6156798.0,desktop
4,2016-01-01 00:00:00,Friday,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0,en,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186,2014_FIFA_World_Cup_en,2016-01-01 00:00:00,2015å¹´å…«ä»™æ¨‚åœ’æ´¾å°ç²‰å¡µçˆ†ç‚¸äº‹æ•…_zh...,247.0,mobile,2015â€“16_UEFA_Champions_League_en.wikipedia.o...,4191858.0,desktop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548909,2016-12-31 00:00:00,Saturday,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0,en,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597,Zayn_Malik_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548910,2016-12-31 00:00:00,Saturday,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0,en,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217,Zendaya_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548911,2016-12-31 00:00:00,Saturday,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0,en,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650,Zendaya_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548912,2016-12-31 00:00:00,Saturday,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0,en,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659,Zodiac_Killer_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548913,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,32340508100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
read_weekdays = read_weekdays['date'] = pd.to_datetime(read_weekdays['date']).dt.normalize()

read_weekdays

NameError: name 'pd' is not defined

In [ ]:
join_tables2 = join_tables1.T.drop_duplicates().T


join_tables2

,date,weekday,date,page,visits,language,visits,topics,date,page,visits,device,page,visits,device
0,2016-01-01 00:00:00,Friday,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,en,7089,.xxx_en,2016-01-01 00:00:00,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,mobile,1._Juli_de.wikipedia.org_desktop_all-agents,118071.0,desktop
1,2016-01-01 00:00:00,Friday,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,en,6182,.xxx_en,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...,2136.0,mobile,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3937980.0,desktop
2,2016-01-01 00:00:00,Friday,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0,de,20,1._Juli_de,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...,580.0,mobile,2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...,1168851.0,desktop
3,2016-01-01 00:00:00,Friday,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0,en,5363,2014_FIFA_World_Cup_en,2016-01-01 00:00:00,2015_in_film_en.wikipedia.org_mobile-web_all-a...,22168.0,mobile,2015_in_film_en.wikipedia.org_desktop_all-agents,6156798.0,desktop
4,2016-01-01 00:00:00,Friday,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0,en,3186,2014_FIFA_World_Cup_en,2016-01-01 00:00:00,2015å¹´å…«ä»™æ¨‚åœ’æ´¾å°ç²‰å¡µçˆ†ç‚¸äº‹æ•…_zh...,247.0,mobile,2015â€“16_UEFA_Champions_League_en.wikipedia.o...,4191858.0,desktop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548909,2016-12-31 00:00:00,Saturday,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0,en,12597,Zayn_Malik_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548910,2016-12-31 00:00:00,Saturday,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0,en,6217,Zendaya_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548911,2016-12-31 00:00:00,Saturday,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0,en,4650,Zendaya_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548912,2016-12-31 00:00:00,Saturday,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0,en,6659,Zodiac_Killer_en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548913,NaN,NaN,NaT,NaN,NaN,NaN,32340508100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN