In [23]:
import pandas as pd

pages_dirty = pd.read_excel('wikipedia_dataset.xlsx')
pages_dirty

,Page,2016-01-01 00:00:00,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-09 00:00:00,...,2016-12-22 00:00:00,2016-12-23 00:00:00,2016-12-24 00:00:00,2016-12-25 00:00:00,2016-12-26 00:00:00,2016-12-27 00:00:00,2016-12-28 00:00:00,2016-12-29 00:00:00,2016-12-30 00:00:00,2016-12-31 00:00:00
0,.xxx_en.wikipedia.org_all-access_all-agents,7089,7592,7436,7032,6498,6887,7209,7022,7194,...,4931.0,4034.0,5204.0,4331.0,4572.0,4509.0,5392.0,4950.0,2931.0,4101.0
1,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,6447,6437,5912,5205,5770,5998,5948,6165,...,4617.0,3663.0,4882.0,4028.0,4263.0,4176.0,5068.0,4539.0,2666.0,3754.0
2,1._Juli_de.wikipedia.org_desktop_all-agents,20,49,33,49,34,26,66,28,18,...,26.0,20.0,19.0,43.0,24.0,41.0,39.0,39.0,31.0,31.0
3,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363,6280,6297,6288,6052,6200,5935,5958,6200,...,3356.0,3366.0,2912.0,2850.0,3140.0,3379.0,3497.0,3338.0,3329.0,3550.0
4,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186,3784,3832,4059,4022,4213,3985,3823,3794,...,1719.0,1593.0,1255.0,1160.0,1311.0,1468.0,1728.0,1494.0,1515.0,1464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Zac_Efron_en.wikipedia.org_all-access_all-agents,14396,15501,13176,11001,13986,12006,9699,11266,11487,...,8195.0,8492.0,10283.0,8963.0,10900.0,12011.0,11575.0,11421.0,11847.0,13146.0
1496,Zayn_Malik_en.wikipedia.org_all-access_all-agents,31663,18883,19065,17978,16868,19067,23280,22064,17320,...,14947.0,15615.0,14232.0,12129.0,12919.0,13204.0,13095.0,12579.0,13094.0,12597.0
1497,Zendaya_en.wikipedia.org_all-access_all-agents,7091,6062,4719,4303,6027,5039,4182,4790,4981,...,7005.0,10630.0,8741.0,8623.0,7357.0,7540.0,8374.0,7262.0,7778.0,6217.0
1498,Zendaya_en.wikipedia.org_mobile-web_all-agents,5221,4344,3272,2757,4022,3065,2514,3060,3314,...,4707.0,8155.0,6941.0,6305.0,5493.0,5465.0,6100.0,5044.0,5752.0,4650.0
1499,Zodiac_Killer_en.wikipedia.org_all-access_all-...,4251,5850,5833,5732,5274,12615,6283,5537,4882,...,6054.0,6073.0,5448.0,6443.0,6913.0,7094.0,6921.0,8396.0,8275.0,6659.0

In [34]:
flat_pages_dirty = pd.read_excel('wikipedia_dataset_flat.xlsx')
flat_pages_dirty

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [25]:
flat_pages_dirty.page.unique()

array(['.xxx_en.wikipedia.org_all-access_all-agents',
       '.xxx_en.wikipedia.org_mobile-web_all-agents',
       '1._Juli_de.wikipedia.org_desktop_all-agents', ...,
       'Zendaya_en.wikipedia.org_all-access_all-agents',
       'Zendaya_en.wikipedia.org_mobile-web_all-agents',
       'Zodiac_Killer_en.wikipedia.org_all-access_all-agents'],
      dtype=object)

In [26]:
flat_pages_dirty.page

0               .xxx_en.wikipedia.org_all-access_all-agents
1               .xxx_en.wikipedia.org_mobile-web_all-agents
2               1._Juli_de.wikipedia.org_desktop_all-agents
3         2014_FIFA_World_Cup_en.wikipedia.org_all-acces...
4         2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...
                                ...
548995     Zac_Efron_en.wikipedia.org_all-access_all-agents
548996    Zayn_Malik_en.wikipedia.org_all-access_all-agents
548997       Zendaya_en.wikipedia.org_all-access_all-agents
548998       Zendaya_en.wikipedia.org_mobile-web_all-agents
548999    Zodiac_Killer_en.wikipedia.org_all-access_all-...
Name: page, Length: 549000, dtype: object

In [27]:
sample_clean_data =flat_pages_dirty.fillna('unknown')
sample_clean_data

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [28]:
print(sample_clean_data['page'].isin(['unknown']))

0         False
1         False
2         False
3         False
4         False
          ...
548995    False
548996    False
548997    False
548998    False
548999    False
Name: page, Length: 549000, dtype: bool

In [35]:
sample_clean_data.to_excel('sample_clean_data.xlsx')

In [ ]:
print(sample_clean_data['visits'].isin(['unknown']))

0         False
1         False
2         False
3         False
4         False
          ...
548995    False
548996    False
548997    False
548998    False
548999    False
Name: visits, Length: 549000, dtype: bool

In [ ]:
unknown_pages = (sample_clean_data['page'].isin(['unknown']))
unknown_visits = (sample_clean_data['visits'].isin(['unknown']))

unknown_pages.to_excel('unknown_pages.xlsx')
unknown_visits.to_excel('unknown_visits.xlsx')

discovered a number of missing values in the visits coloumn &
no missing values in the pages coloumn

In [ ]:
clean_data_v1 = flat_pages_dirty.dropna()
clean_data_v1

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [30]:
clean_data_v2 = clean_data_v1.drop_duplicates()
clean_data_v2.drop(['Unnamed: 0'], axis='columns', inplace=True)

clean_data_v2

             date                                               page   visits
0      2016-01-01        .xxx_en.wikipedia.org_all-access_all-agents   7089.0
1      2016-01-01        .xxx_en.wikipedia.org_mobile-web_all-agents   6182.0
2      2016-01-01        1._Juli_de.wikipedia.org_desktop_all-agents     20.0
3      2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_all-acces...   5363.0
4      2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...   3186.0
...           ...                                                ...      ...
548995 2016-12-31   Zac_Efron_en.wikipedia.org_all-access_all-agents  13146.0
548996 2016-12-31  Zayn_Malik_en.wikipedia.org_all-access_all-agents  12597.0
548997 2016-12-31     Zendaya_en.wikipedia.org_all-access_all-agents   6217.0
548998 2016-12-31     Zendaya_en.wikipedia.org_mobile-web_all-agents   4650.0
548999 2016-12-31  Zodiac_Killer_en.wikipedia.org_all-access_all-...   6659.0

[548913 rows x 3 columns]

In [31]:
clean_data_v2.groupby('page').date.count()

page
.xxx_en.wikipedia.org_all-access_all-agents                             366
.xxx_en.wikipedia.org_mobile-web_all-agents                             366
1._Juli_de.wikipedia.org_desktop_all-agents                             366
2014_FIFA_World_Cup_en.wikipedia.org_all-access_all-agents              366
2014_FIFA_World_Cup_en.wikipedia.org_desktop_all-agents                 366
                                                                       ...
éŸ¿ã‘!_ãƒ¦ãƒ¼ãƒ•ã‚©ãƒ‹ã‚¢ãƒ _ja.wikipedia.org_desktop_all-agents       366
éŸ¿ã‘!_ãƒ¦ãƒ¼ãƒ•ã‚©ãƒ‹ã‚¢ãƒ _ja.wikipedia.org_mobile-web_all-agents    366
é‡‘ç”°æœ‹å­_ja.wikipedia.org_all-access_all-agents                     366
é‡‘ç”°æœ‹å­_ja.wikipedia.org_mobile-web_all-agents                     366
é€²æ’ƒã®å·¨äºº_ja.wikipedia.org_all-access_all-agents                  366
Name: date, Length: 1500, dtype: int64

1500 unique web pages

In [32]:
final_clean_data = clean_data_v2

final_clean_data

             date                                               page   visits
0      2016-01-01        .xxx_en.wikipedia.org_all-access_all-agents   7089.0
1      2016-01-01        .xxx_en.wikipedia.org_mobile-web_all-agents   6182.0
2      2016-01-01        1._Juli_de.wikipedia.org_desktop_all-agents     20.0
3      2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_all-acces...   5363.0
4      2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...   3186.0
...           ...                                                ...      ...
548995 2016-12-31   Zac_Efron_en.wikipedia.org_all-access_all-agents  13146.0
548996 2016-12-31  Zayn_Malik_en.wikipedia.org_all-access_all-agents  12597.0
548997 2016-12-31     Zendaya_en.wikipedia.org_all-access_all-agents   6217.0
548998 2016-12-31     Zendaya_en.wikipedia.org_mobile-web_all-agents   4650.0
548999 2016-12-31  Zodiac_Killer_en.wikipedia.org_all-access_all-...   6659.0

[548913 rows x 3 columns]

In [33]:
final_clean_data.to_excel('final_clean_data.xlsx')